[submodule "vendor/AFNetworking"]
	path = vendor/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "vendor/Kiwi"]
	path = vendor/Kiwi
	url = https://github.com/allending/Kiwi.git
